{
  "openapi": "3.1.0",
  "info": {
    "title": "Sly API (internal)",
    "description": "The Agentic Economy Platform — stablecoin payments, agent wallets, multi-protocol commerce, and AI agent orchestration.",
    "version": "1.0.0",
    "contact": {
      "name": "Sly",
      "url": "https://getsly.ai",
      "email": "support@getsly.ai"
    }
  },
  "servers": [
    {
      "url": "https://api.getsly.ai/v1",
      "description": "Production"
    },
    {
      "url": "https://sandbox.getsly.ai/v1",
      "description": "Sandbox"
    }
  ],
  "paths": {
    "/v1/x402/endpoints": {
      "post": {
        "tags": [
          "x402"
        ],
        "summary": "Register an x402 endpoint",
        "description": "Register an API endpoint that will accept x402 micropayments. Returns a payment address and asset details to advertise in 402 responses.",
        "x-visibility": "public",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateX402EndpointInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Endpoint registered",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/X402Endpoint"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Account not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Duplicate path+method",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "x402"
        ],
        "summary": "List x402 endpoints",
        "description": "List all x402 endpoints registered by your tenant.",
        "x-visibility": "public",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "paused",
                "disabled"
              ]
            },
            "required": false,
            "name": "status",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": false,
            "name": "account_id",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "default": 1
            },
            "required": false,
            "name": "page",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "maximum": 200,
              "default": 50
            },
            "required": false,
            "name": "limit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of endpoints",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/X402Endpoint"
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "type": "integer"
                        },
                        "limit": {
                          "type": "integer"
                        },
                        "total": {
                          "type": "integer"
                        },
                        "totalPages": {
                          "type": "integer"
                        }
                      },
                      "required": [
                        "page",
                        "limit",
                        "total",
                        "totalPages"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "pagination"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/x402/endpoints/{id}": {
      "get": {
        "tags": [
          "x402"
        ],
        "summary": "Get x402 endpoint",
        "x-visibility": "public",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Endpoint detail",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/X402Endpoint"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "x402"
        ],
        "summary": "Update x402 endpoint",
        "x-visibility": "public",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateX402EndpointInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/X402Endpoint"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "x402"
        ],
        "summary": "Delete x402 endpoint",
        "x-visibility": "public",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            },
            "required": false,
            "name": "force",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Endpoint has transaction history; add ?force=true to confirm",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/ucp/tokens": {
      "post": {
        "tags": [
          "UCP"
        ],
        "summary": "Create a UCP token",
        "description": "Issue a settlement token for a specified recipient and amount. The token is JWS-signed and contains the settlement instructions. Use `POST /settle` to execute.",
        "x-visibility": "public",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UCPTokenRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Token issued",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/UCPToken"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "properties": {
                        "error": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        },
                        "details": {}
                      }
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Spending policy rejected",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "properties": {
                        "error": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        },
                        "details": {}
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/ucp/settle": {
      "post": {
        "tags": [
          "UCP"
        ],
        "summary": "Settle a UCP token",
        "description": "Execute settlement against the rail specified in the token. Returns the settlement record with on-chain tx_hash or rail_reference.",
        "x-visibility": "public",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UCPSettleRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Settlement initiated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/UCPSettlement"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "properties": {
                        "error": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        },
                        "details": {}
                      }
                    }
                  ]
                }
              }
            }
          },
          "409": {
            "description": "Token expired or already settled",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "properties": {
                        "error": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        },
                        "details": {}
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/ucp/settle/mandate": {
      "post": {
        "tags": [
          "UCP"
        ],
        "summary": "Settle against an AP2 mandate",
        "description": "Issue and settle a UCP token backed by an AP2 mandate — no pre-issued token needed. Mandate scope is verified on execution.",
        "x-visibility": "public",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UCPMandateSettleRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Settled",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/UCPSettlement"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Mandate scope violation",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "properties": {
                        "error": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        },
                        "details": {}
                      }
                    }
                  ]
                }
              }
            }
          },
          "409": {
            "description": "Mandate expired / revoked",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "properties": {
                        "error": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        },
                        "details": {}
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/ucp/settlements": {
      "get": {
        "tags": [
          "UCP"
        ],
        "summary": "List settlements",
        "x-visibility": "public",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "pending",
                "processing",
                "completed",
                "failed"
              ]
            },
            "required": false,
            "name": "status",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "pix",
                "spei",
                "auto"
              ]
            },
            "required": false,
            "name": "corridor",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "required": false,
            "name": "since",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "default": 1
            },
            "required": false,
            "name": "page",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "maximum": 200,
              "default": 50
            },
            "required": false,
            "name": "limit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated settlements",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/UCPSettlement"
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "type": "number"
                        },
                        "limit": {
                          "type": "number"
                        },
                        "total": {
                          "type": "number"
                        },
                        "totalPages": {
                          "type": "number"
                        }
                      },
                      "required": [
                        "page",
                        "limit",
                        "total",
                        "totalPages"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "pagination"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/ucp/settlements/{id}": {
      "get": {
        "tags": [
          "UCP"
        ],
        "summary": "Get a settlement",
        "x-visibility": "public",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Settlement detail",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/UCPSettlement"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "properties": {
                        "error": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        },
                        "details": {}
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/ucp/quote": {
      "post": {
        "tags": [
          "UCP"
        ],
        "summary": "Request a rail quote",
        "description": "Get FX rate, fee, and estimated settlement time for a corridor. Expires in ~30 seconds. Use to display to user before settlement.",
        "x-visibility": "public",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "corridor": {
                    "type": "string",
                    "enum": [
                      "pix",
                      "spei",
                      "auto"
                    ]
                  },
                  "amount": {
                    "type": "number",
                    "exclusiveMinimum": 0,
                    "maximum": 100000
                  },
                  "currency": {
                    "type": "string",
                    "enum": [
                      "USD",
                      "USDC"
                    ]
                  }
                },
                "required": [
                  "amount",
                  "currency"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Quote",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/UCPQuote"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Unsupported corridor / currency",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "properties": {
                        "error": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        },
                        "details": {}
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/ucp/corridors": {
      "get": {
        "tags": [
          "UCP"
        ],
        "summary": "List supported corridors",
        "description": "Enumerates active corridors for your tenant (e.g. USD→BRL via Pix, USD→MXN via SPEI), their limits, and typical settlement times.",
        "x-visibility": "public",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Corridors",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "corridor": {
                            "type": "string",
                            "enum": [
                              "pix",
                              "spei",
                              "auto"
                            ]
                          },
                          "from_currency": {
                            "type": "string",
                            "enum": [
                              "USD",
                              "USDC"
                            ]
                          },
                          "to_currency": {
                            "type": "string"
                          },
                          "min_amount": {
                            "type": "string"
                          },
                          "max_amount": {
                            "type": "string"
                          },
                          "typical_settlement": {
                            "type": "string"
                          },
                          "active": {
                            "type": "boolean"
                          }
                        },
                        "required": [
                          "corridor",
                          "from_currency",
                          "to_currency",
                          "min_amount",
                          "max_amount",
                          "typical_settlement",
                          "active"
                        ]
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/ucp/info": {
      "get": {
        "tags": [
          "UCP"
        ],
        "summary": "Protocol capability info",
        "description": "Machine-readable capability advertisement — what your UCP installation supports. Usually consumed via `.well-known/ucp`.",
        "x-visibility": "public",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Capabilities",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "version": {
                      "type": "string"
                    },
                    "supported_rails": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "supported_currencies": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "jwks_url": {
                      "type": "string",
                      "format": "uri"
                    }
                  },
                  "required": [
                    "version",
                    "supported_rails",
                    "supported_currencies",
                    "jwks_url"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/ucp/analytics": {
      "get": {
        "tags": [
          "UCP"
        ],
        "summary": "Tenant UCP analytics",
        "x-visibility": "public",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "24h",
                "7d",
                "30d",
                "90d",
                "1y"
              ],
              "default": "30d"
            },
            "required": false,
            "name": "period",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Analytics summary",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total_volume": {
                      "type": "string"
                    },
                    "total_settlements": {
                      "type": "integer"
                    },
                    "by_corridor": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "object",
                        "properties": {
                          "volume": {
                            "type": "string"
                          },
                          "count": {
                            "type": "number"
                          }
                        },
                        "required": [
                          "volume",
                          "count"
                        ]
                      }
                    },
                    "average_time_to_settle_seconds": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "total_volume",
                    "total_settlements",
                    "by_corridor",
                    "average_time_to_settle_seconds"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/ucp/checkouts": {
      "post": {
        "tags": [
          "UCP Checkouts"
        ],
        "summary": "Create a checkout",
        "x-visibility": "public",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateUCPCheckoutInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Checkout created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/UCPCheckout"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "properties": {
                        "error": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        },
                        "details": {}
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "UCP Checkouts"
        ],
        "summary": "List checkouts",
        "x-visibility": "public",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "created",
                "pending_payment",
                "paid",
                "fulfilled",
                "failed",
                "expired",
                "cancelled"
              ]
            },
            "required": false,
            "name": "status",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": false,
            "name": "merchant_id",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "required": false,
            "name": "since",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "default": 1
            },
            "required": false,
            "name": "page",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "maximum": 200,
              "default": 50
            },
            "required": false,
            "name": "limit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated checkouts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/UCPCheckout"
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "type": "number"
                        },
                        "limit": {
                          "type": "number"
                        },
                        "total": {
                          "type": "number"
                        },
                        "totalPages": {
                          "type": "number"
                        }
                      },
                      "required": [
                        "page",
                        "limit",
                        "total",
                        "totalPages"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "pagination"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/ucp/checkouts/stats": {
      "get": {
        "tags": [
          "UCP Checkouts"
        ],
        "summary": "Checkout analytics",
        "x-visibility": "public",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "24h",
                "7d",
                "30d"
              ],
              "default": "7d"
            },
            "required": false,
            "name": "period",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Stats",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total_sessions": {
                      "type": "number"
                    },
                    "total_volume": {
                      "type": "string"
                    },
                    "completion_rate": {
                      "type": "number"
                    },
                    "by_status": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "number"
                      }
                    }
                  },
                  "required": [
                    "total_sessions",
                    "total_volume",
                    "completion_rate",
                    "by_status"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/ucp/checkouts/batch": {
      "post": {
        "tags": [
          "UCP Checkouts"
        ],
        "summary": "Batch-create checkouts",
        "description": "Create many checkouts in one request — useful for bulk commerce (campaign rollouts, marketplace listings).",
        "x-visibility": "public",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "checkouts": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/CreateUCPCheckoutInput"
                    },
                    "minItems": 1,
                    "maxItems": 100
                  },
                  "idempotency_key": {
                    "type": "string"
                  }
                },
                "required": [
                  "checkouts"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Batch created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "batch_id": {
                      "type": "string"
                    },
                    "total": {
                      "type": "number"
                    },
                    "created": {
                      "type": "number"
                    },
                    "failed": {
                      "type": "number"
                    },
                    "checkouts": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/UCPCheckout"
                      }
                    }
                  },
                  "required": [
                    "batch_id",
                    "total",
                    "created",
                    "failed",
                    "checkouts"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/ucp/checkouts/batch-complete": {
      "post": {
        "tags": [
          "UCP Checkouts"
        ],
        "summary": "Batch-complete checkouts",
        "description": "Complete payments for many checkouts at once — e.g. when a platform settles an end-of-day batch.",
        "x-visibility": "public",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "checkout_ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "minItems": 1,
                    "maxItems": 100
                  },
                  "payment_method_id": {
                    "type": "string"
                  }
                },
                "required": [
                  "checkout_ids"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total": {
                      "type": "number"
                    },
                    "completed": {
                      "type": "number"
                    },
                    "failed": {
                      "type": "number"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "checkout_id": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "error": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "checkout_id",
                          "status"
                        ]
                      }
                    }
                  },
                  "required": [
                    "total",
                    "completed",
                    "failed",
                    "results"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/ucp/checkouts/{id}": {
      "get": {
        "tags": [
          "UCP Checkouts"
        ],
        "summary": "Get a checkout",
        "x-visibility": "public",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Checkout",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/UCPCheckout"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "properties": {
                        "error": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        },
                        "details": {}
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "UCP Checkouts"
        ],
        "summary": "Replace a checkout",
        "description": "Full update — only allowed while status is `created` or `pending_payment`. Use PATCH /{id}/edit for partial changes.",
        "x-visibility": "public",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateUCPCheckoutInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/UCPCheckout"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "409": {
            "description": "Status does not allow update",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "properties": {
                        "error": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        },
                        "details": {}
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "UCP Checkouts"
        ],
        "summary": "Delete a checkout",
        "description": "Only allowed before payment — soft delete with audit trail.",
        "x-visibility": "public",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "409": {
            "description": "Cannot delete paid checkout",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "properties": {
                        "error": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        },
                        "details": {}
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/ucp/checkouts/{id}/complete": {
      "post": {
        "tags": [
          "UCP Checkouts"
        ],
        "summary": "Complete a checkout",
        "description": "Execute payment. For card checkouts, pass `payment_method_id` from your Stripe/Adyen integration. For stablecoin checkouts, pass `from_wallet_id`.",
        "x-visibility": "public",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "payment_method_id": {
                    "type": "string"
                  },
                  "from_wallet_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "idempotency_key": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Paid",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/UCPCheckout"
                    },
                    "transfer_id": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "data",
                    "transfer_id"
                  ]
                }
              }
            }
          },
          "402": {
            "description": "Payment rejected by rail",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "properties": {
                        "error": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        },
                        "details": {}
                      }
                    }
                  ]
                }
              }
            }
          },
          "409": {
            "description": "Invalid state",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "properties": {
                        "error": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        },
                        "details": {}
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/ucp/checkouts/{id}/cancel": {
      "post": {
        "tags": [
          "UCP Checkouts"
        ],
        "summary": "Cancel a checkout",
        "x-visibility": "public",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Cancelled",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/UCPCheckout"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "409": {
            "description": "Already paid or cancelled",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "properties": {
                        "error": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        },
                        "details": {}
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/ucp/checkouts/{id}/edit": {
      "patch": {
        "tags": [
          "UCP Checkouts"
        ],
        "summary": "Partial edit",
        "description": "Modify subset of fields (items, metadata, expires_at). Allowed before payment completion.",
        "x-visibility": "public",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "items": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/UCPCheckoutItem"
                    }
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": {}
                  },
                  "expires_at": {
                    "type": "string",
                    "format": "date-time"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/UCPCheckout"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "409": {
            "description": "Invalid state",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "properties": {
                        "error": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        },
                        "details": {}
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/ucp/checkouts/{id}/instruments": {
      "post": {
        "tags": [
          "UCP Checkouts"
        ],
        "summary": "Add payment instrument",
        "description": "Attach a payment method (card token, bank reference, wallet) to this checkout.",
        "x-visibility": "public",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "card",
                      "bank",
                      "wallet",
                      "stablecoin"
                    ]
                  },
                  "processor": {
                    "type": "string"
                  },
                  "processor_token": {
                    "type": "string"
                  },
                  "last_four": {
                    "type": "string"
                  }
                },
                "required": [
                  "type"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Instrument added",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/PaymentInstrument"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/ucp/checkouts/{id}/instruments/{instrumentId}": {
      "put": {
        "tags": [
          "UCP Checkouts"
        ],
        "summary": "Replace payment instrument",
        "x-visibility": "public",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "instrumentId",
            "in": "path"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "card",
                      "bank",
                      "wallet",
                      "stablecoin"
                    ]
                  },
                  "processor": {
                    "type": "string"
                  },
                  "processor_token": {
                    "type": "string"
                  },
                  "last_four": {
                    "type": "string"
                  }
                },
                "required": [
                  "type"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Replaced",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/PaymentInstrument"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "properties": {
                        "error": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        },
                        "details": {}
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/ucp/orders": {
      "get": {
        "tags": [
          "UCP Orders"
        ],
        "summary": "List orders",
        "x-visibility": "public",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "pending",
                "confirmed",
                "fulfilling",
                "shipped",
                "delivered",
                "returned",
                "cancelled"
              ]
            },
            "required": false,
            "name": "status",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "checkout_id",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "customer_reference",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "required": false,
            "name": "since",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "default": 1
            },
            "required": false,
            "name": "page",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "maximum": 200,
              "default": 50
            },
            "required": false,
            "name": "limit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated orders",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/UCPOrder"
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "type": "number"
                        },
                        "limit": {
                          "type": "number"
                        },
                        "total": {
                          "type": "number"
                        },
                        "totalPages": {
                          "type": "number"
                        }
                      },
                      "required": [
                        "page",
                        "limit",
                        "total",
                        "totalPages"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "pagination"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/ucp/orders/{id}": {
      "get": {
        "tags": [
          "UCP Orders"
        ],
        "summary": "Get an order",
        "x-visibility": "public",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Order",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/UCPOrder"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "properties": {
                        "error": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        },
                        "details": {}
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/ucp/orders/{id}/status": {
      "put": {
        "tags": [
          "UCP Orders"
        ],
        "summary": "Update order status",
        "description": "Merchant-side status transition. Fires `ucp.order.status_changed` webhook.",
        "x-visibility": "public",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": [
                      "pending",
                      "confirmed",
                      "fulfilling",
                      "shipped",
                      "delivered",
                      "returned",
                      "cancelled"
                    ]
                  },
                  "tracking": {
                    "type": "object",
                    "properties": {
                      "carrier": {
                        "type": "string"
                      },
                      "tracking_number": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "carrier",
                      "tracking_number"
                    ]
                  },
                  "notes": {
                    "type": "string"
                  }
                },
                "required": [
                  "status"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/UCPOrder"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "409": {
            "description": "Invalid transition",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "properties": {
                        "error": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        },
                        "details": {}
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/ucp/orders/{id}/cancel": {
      "post": {
        "tags": [
          "UCP Orders"
        ],
        "summary": "Cancel an order",
        "description": "If the order is paid, a refund is automatically issued. Triggers `ucp.order.cancelled` webhook.",
        "x-visibility": "public",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "reason": {
                    "type": "string",
                    "maxLength": 500
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Cancelled",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/UCPOrder"
                    },
                    "refund_id": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/ucp/orders/{id}/expectations": {
      "post": {
        "tags": [
          "UCP Orders"
        ],
        "summary": "Add expectation",
        "description": "Declare what the merchant is committing to deliver — shipping ETA, digital delivery window, etc. Used by dispute resolution.",
        "x-visibility": "public",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "shipping",
                      "digital_delivery",
                      "fulfillment"
                    ]
                  },
                  "expected_at": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "description": {
                    "type": "string"
                  }
                },
                "required": [
                  "type",
                  "expected_at"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Expectation recorded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/OrderExpectation"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/ucp/orders/{id}/expectations/{expectationId}": {
      "put": {
        "tags": [
          "UCP Orders"
        ],
        "summary": "Update expectation",
        "x-visibility": "public",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "expectationId",
            "in": "path"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "shipping",
                      "digital_delivery",
                      "fulfillment"
                    ]
                  },
                  "expected_at": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "description": {
                    "type": "string"
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "pending",
                      "met",
                      "missed"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/OrderExpectation"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/ucp/orders/{id}/events": {
      "post": {
        "tags": [
          "UCP Orders"
        ],
        "summary": "Record fulfillment event",
        "description": "Merchant-side timeline entry (shipped / in_transit / delivered / etc.). Triggers webhooks and feeds dispute evidence.",
        "x-visibility": "public",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "shipped",
                      "in_transit",
                      "delivered",
                      "returned",
                      "held",
                      "exception"
                    ]
                  },
                  "description": {
                    "type": "string"
                  },
                  "data": {
                    "type": "object",
                    "additionalProperties": {}
                  },
                  "occurred_at": {
                    "type": "string",
                    "format": "date-time"
                  }
                },
                "required": [
                  "type",
                  "occurred_at"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Event recorded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/OrderEvent"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "UCP Orders"
        ],
        "summary": "List order events",
        "x-visibility": "public",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Events timeline",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/OrderEvent"
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/ucp/orders/{id}/adjustments": {
      "post": {
        "tags": [
          "UCP Orders"
        ],
        "summary": "Record adjustment",
        "description": "Ad-hoc post-checkout change (discount applied, shipping fee adjusted, partial refund). Creates a ledger entry tied to the order.",
        "x-visibility": "public",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "discount",
                      "surcharge",
                      "refund",
                      "fee_change"
                    ]
                  },
                  "amount": {
                    "type": "string"
                  },
                  "reason": {
                    "type": "string"
                  }
                },
                "required": [
                  "type",
                  "amount",
                  "reason"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Adjustment recorded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/OrderAdjustment"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/ucp/identity/authorize": {
      "get": {
        "tags": [
          "UCP Identity"
        ],
        "summary": "OAuth 2.0 authorization endpoint",
        "description": "Initiates the OAuth authorization code flow. Redirects user to consent screen.",
        "x-visibility": "public",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "client_id",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "format": "uri"
            },
            "required": true,
            "name": "redirect_uri",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "code"
              ]
            },
            "required": true,
            "name": "response_type",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "scope",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "state",
            "in": "query"
          }
        ],
        "responses": {
          "302": {
            "description": "Redirect to consent or back to redirect_uri with code"
          },
          "400": {
            "description": "Invalid client / redirect_uri / scope",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "properties": {
                        "error": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        },
                        "details": {}
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/ucp/identity/token": {
      "post": {
        "tags": [
          "UCP Identity"
        ],
        "summary": "OAuth 2.0 token endpoint",
        "description": "Exchange authorization code for access token, or refresh an existing token.",
        "x-visibility": "public",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "object",
                    "properties": {
                      "grant_type": {
                        "type": "string",
                        "enum": [
                          "authorization_code"
                        ]
                      },
                      "code": {
                        "type": "string"
                      },
                      "client_id": {
                        "type": "string"
                      },
                      "client_secret": {
                        "type": "string"
                      },
                      "redirect_uri": {
                        "type": "string",
                        "format": "uri"
                      }
                    },
                    "required": [
                      "grant_type",
                      "code",
                      "client_id",
                      "client_secret",
                      "redirect_uri"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "grant_type": {
                        "type": "string",
                        "enum": [
                          "refresh_token"
                        ]
                      },
                      "refresh_token": {
                        "type": "string"
                      },
                      "client_id": {
                        "type": "string"
                      },
                      "client_secret": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "grant_type",
                      "refresh_token",
                      "client_id",
                      "client_secret"
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthTokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid grant",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "properties": {
                        "error": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        },
                        "details": {}
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/ucp/identity/revoke": {
      "post": {
        "tags": [
          "UCP Identity"
        ],
        "summary": "Revoke a token",
        "x-visibility": "public",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string"
                  },
                  "token_type_hint": {
                    "type": "string",
                    "enum": [
                      "access_token",
                      "refresh_token"
                    ]
                  }
                },
                "required": [
                  "token"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Revoked",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "revoked": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "revoked"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/ucp/identity/authorize/consent": {
      "post": {
        "tags": [
          "UCP Identity"
        ],
        "summary": "Grant consent",
        "description": "Called from the consent UI after the user approves the requested scopes. Returns the authorization code.",
        "x-visibility": "public",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "authorization_request_id": {
                    "type": "string"
                  },
                  "approved_scopes": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "account_id": {
                    "type": "string",
                    "format": "uuid"
                  }
                },
                "required": [
                  "authorization_request_id",
                  "approved_scopes",
                  "account_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Consent granted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "redirect_uri": {
                      "type": "string",
                      "format": "uri"
                    },
                    "state": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "redirect_uri"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/ucp/identity/clients": {
      "get": {
        "tags": [
          "UCP Identity"
        ],
        "summary": "List OAuth clients",
        "x-visibility": "public",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Clients",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/OAuthClient"
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "UCP Identity"
        ],
        "summary": "Register an OAuth client",
        "description": "Register a merchant or third-party app that will link buyer accounts. Returns `client_secret` once.",
        "x-visibility": "public",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255
                  },
                  "redirect_uris": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uri"
                    },
                    "minItems": 1
                  },
                  "scopes": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "minItems": 1
                  }
                },
                "required": [
                  "name",
                  "redirect_uris",
                  "scopes"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Client created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/OAuthClient"
                        },
                        {
                          "type": "object",
                          "properties": {
                            "client_secret": {
                              "type": "string",
                              "description": "Shown once"
                            }
                          },
                          "required": [
                            "client_secret"
                          ]
                        }
                      ]
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/ucp/identity/clients/{clientId}/deactivate": {
      "patch": {
        "tags": [
          "UCP Identity"
        ],
        "summary": "Deactivate an OAuth client",
        "x-visibility": "public",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "clientId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Deactivated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/OAuthClient"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/ucp/identity/linked-accounts": {
      "get": {
        "tags": [
          "UCP Identity"
        ],
        "summary": "List linked accounts",
        "description": "Accounts the authenticated principal has linked via OAuth. Used to enumerate buyer relationships.",
        "x-visibility": "public",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Linked accounts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/LinkedAccount"
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/ucp/identity/linked-accounts/{id}": {
      "delete": {
        "tags": [
          "UCP Identity"
        ],
        "summary": "Unlink an account",
        "description": "Revokes all tokens associated with the linkage and removes it.",
        "x-visibility": "public",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Unlinked",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/ucp/identity/scopes": {
      "get": {
        "tags": [
          "UCP Identity"
        ],
        "summary": "List available scopes",
        "x-visibility": "public",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Scopes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "scope": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "scope",
                          "description"
                        ]
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/ucp/merchants": {
      "get": {
        "tags": [
          "UCP Merchants"
        ],
        "summary": "List merchants",
        "description": "Discovery. Filter by category, country, or search text. Use for building merchant picker UI in agent-facing clients.",
        "x-visibility": "public",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "category",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "minLength": 2,
              "maxLength": 2
            },
            "required": false,
            "name": "country",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            },
            "required": false,
            "name": "agent_ready",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
[...]
